ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: 400px;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* ===========header=========*/

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  
}
.header-logo span {
  color: #2e2f42;
}

/***** Studio-Portfolio-Contacts *****/
.header-menu {
  display: none;
 }

/******  Tel-Email   ******/
.header-address-list {
  display: none;
 }

.header-menu-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 16px 0;
}

/******* HEADER MOB-MENU-MODAL ****/
.header-modal-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 24px 40px 40px 16px;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hmodal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 24px;
}

.hmodal-close-btn:hover,
.hmodal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.hmodal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hmodal-close-btn:hover .hmodal-close-icon,
.hmodal-close-btn:focus .hmodal-close-icon {
  fill: #ffffff;
}
/***** Mob-modal Studio-Portfolio-Contacts  ****/

.hmodal-menu-item:not(:last-child) {
margin-bottom: 40px;
}

.hmodal-menu-link {
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}


.hmodal-menu-item:first-child .hmodal-menu-link {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hmodal-menu-link:focus,
.hmodal-menu-link:hover {
  color: #404bbf;
}

/****** Mob-modal  Tel-Email   ******/
.hmodal-address-list {
  margin-bottom: 48px;
}

.hmodal-address-link {
display: block;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hmodal-address-item:first-child  .hmodal-address-link{
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
}

.hmodal-address-link:hover,
.hmodal-address-link:focus {
 color: #404bbf;
}

/****** Mob-modal Soc  FB-Insta-Twit  ******/
.header-soc-list {
  display: flex;
  gap: 40px;
}

.header-soc-item {
  width: 40px;
  height: 40px;
}

.header-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-icon {
  fill: #f4f4fd; 
}

.header-soc-link:hover,
.footer-soc-link:focus {
  background-color: #404BBF;
}


/* ==========section-Hero============*/
.hero {
    max-width: 320px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob-min.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
  text-align: center;
   margin: 0 auto;
  padding: 72px 0;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2-min.jpg);
  }
}

.hero-container {
 max-width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.hero-title {
  max-width: 288px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-left: 36px;
  padding-right: 36px;
  margin-bottom: 72px;
}
.hero-btn {
display: block;
 min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
   background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   padding: 16px 32px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.welcome-btn:focus {
  background-color: #404bbf;
}

/*==============section1-features=============*/
.feature {
  padding: 96px 0;
}
.feature-container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
   }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  }
.feature-list-item {
  width: 100%;
}
.feature-icon {
  display: none;
}

.feature-subtitles {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.feature-text {
 width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*============section2-team=============*/
.team {
  background-color: #f4f4fd;
 padding: 96px 0;
  }

.team-container {
  max-width: 296px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  }

.team-item {
  /*width: 264px;*/
 background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
}

.team-img {
  margin: 0 auto;
  width: 100%;
}
.card-team {
   padding-top: 32px;
 }

.team-member-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-soc {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-icon,
.footer-soc-icon {
  fill: #f4f4fd;
}
/*==============section3-Projects===============*/
.projects {
  padding: 96px 0;
 }
 
.projects-container {
  max-width: 320px;
 }
.projects-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.projects-item {
  width: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.projects-card-wrap {
   position: relative;
  overflow: hidden;
}

.projects-cover-text {
  display: none;
}

.projects-title-type {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.projects-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.projects-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*=============  FOOTER  ======*/

.footer {
  background-color: #2e2f42;
 padding: 96px 0;
}

.footer-container {
  max-width: 320px;
  display: flex;
 flex-direction: column;
  gap: 72px;
  
}

.footer-logo-container {
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
 
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;  
  letter-spacing: 0.03em; 
   text-transform: uppercase;
   color: #4d5ae5;
   
}
.studio {
  color: #f4f4fd;
}
.footer-text {
   max-width: 288px;
   font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
   color: #f4f4fd;
 
}

.footer-soc-container {
  display: flex;
  flex-direction: column;
 align-items: center;
 gap: 16px;
}

.footer-soc-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  }

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-bottom-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-form-input {
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
 }

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
   background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 16px;
}

.footer-btn-icon {
  margin-left: 16px;
  fill: #ffffff;
}
.footer-form-btn:hover {
  background-color: #404bbf;
}
/*--------------------Modal--------*/
.backdrop {
  position: fixed;
   top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
    width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
  }

.modal-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-input {
   width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 11px;
  padding-left: 38px;
  padding-bottom: 11px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-textarea-container {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border-color: #2e2f42;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-container {
  margin-bottom: 24px;
}

.check-label {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
     }

.link-privacy {
  color: #4d5ae5;
  text-decoration-line: underline;
  }
.check-label-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-label > .check-label-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-form-btn {
  margin: 0 auto;
}
/**********************************************************/
/*********** Media 768 **********/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
 /*************  768 Header  **********/
 .header-menu-btn {
  display: none;
}
.header-logo {
  margin-right: 120px;
}

.header-menu {
  display: flex;
   gap: 40px;
  align-items: center;
}

.header-menu-link {
 display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
    padding-top: 24px;
  padding-bottom: 24px;
  /* for underline */
  position: relative;
}
.header-menu-link:focus,
.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-item:first-child .header-menu-link {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item:first-child .header-menu-link::after {
 position: absolute;
 left: 0;
 bottom: -1px;
 display: block;
 content: "";
 width: 100%;
 height: 4px;
 background: #404bbf;
 border-radius: 2px;
} 


.header-address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-address-link {
display: block;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:focus,
.header-address-link:hover {
  color: #404bbf;
}


  /*****************  768 Hero   *************/
  .hero {
      max-width: 768px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab-min.jpg);
    
    padding: 112px 0;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab@2-min.jpg);
    }
  }
 
  .hero-title {
     max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 36px;
  }
  /*************   768 feature   **********/
  .feature-container {
 max-width: 768px;
}
  .feature-list {
    gap: 72px 24px;
  }
  .feature-list-item {
    width: calc((100% - 24px) / 2);
    padding: 0;
  }
  .feature-subtitles {
    text-align: left;
  }
  /************* 768 TEAM   ***********/
   .team-container {
  max-width: 584px;
}
  .team-list {
    gap: 64px 24px;
    justify-content: center;
  }

 
  /*******-   768 Projects ---*****/
   .projects-container {
  max-width: 704px;
}
    .projects-list {
    gap: 72px 24px;
  }
  .projects-item {
    width: calc((100% - 24px) / 2);
    }

  .projects-cover-text {
  position: absolute;
  top: 0;
    display: block;
   width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
   padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:hover .projects-cover-text {
  transform: translateY(0);
}
  /**********-   768 Footer ---*********/
.footer-container {
 max-width: 528px;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 72px 24px;
align-items: baseline;
      }

.footer-logo-container {
  align-items: start;
}

.footer-text {
  max-width: 264px;
}

.footer-soc-container {
 align-items: start;
 }

 .footer-bottom-title {
  text-align: left;
}
.footer-form-input {
  width: 264px;
  margin: 0;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-btn {
  margin-top: 0;
}
  /**********-   768 Modal ---*********/
.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}

}
/*****************************************************/
/*********** Media 1158 ************/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*************  1158 Header  **********/

 .header-logo {
   margin-right: 76px;
}
.header-address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-address-link {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em; 

}

  /******  1158 Hero  ********/
  .hero {
    max-width: 1440px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-dsc.jpg);
       padding: 188px 0;
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-dsc@2.jpg);
    }
  }
  .hero-container {
   max-width: 1470px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  /********   1158 feature  ******/
  .feature {
    padding: 120px 0;
      }
      
  .feature-container {
  max-width: 1158px;
}
  .feature-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 112px;
    flex-shrink: 0;
     background-color: var(--CLOUD, #f4f4fd);
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .feature-subtitles {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
      }
  .feature-text {
    font-weight: 400;
  }

  /***********   1158 TEAM **********/
  .team {
    padding: 120px 0;
  }
  .team-container {
  max-width: 1158px;
 }
  .team-list {
    gap: 24px;
  }
 
  /********  1158 Projects **********/
  .projects {
    padding: 120px 0;
      }
  .projects-container {
  max-width: 1158px;
}
  .projects-list {
    gap: 48px 24px;
  }
  .projects-item {
    width: calc((100% - 24px * 2) / 3);
  }
  
/********-   1158 Footer ---**************/
.footer {
 padding: 100px 0;
  }

.footer-container {
  max-width: 1155px;
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-soc-container {
  display: flex;
  align-items: flex-start;
  margin-right: 80px;
  }
}